client
server
keyexchange
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

alice
Bob
Server 
client
Client2
test
Darth